openapi: 3.0.0
info:
  title: Meshplay Cloud
  description: Documentation for meshplay Cloud REST APIs
  contact:
    email: support@layer5.io
  version: v0.6.394
servers:
  - url: https://meshplay.layer5.io
    description: Meshplay Cloud production server URL
  - url: https://staging-meshplay.layer5.io
    description: Meshplay Cloud staging server URL
  - url: http://localhost:9876
    description: Meshplay Cloud development server URL (controlled via PORT environment variable)
tags:
  - name: capabilities
    description: APIs for remote provider capablities
components:
  schemas:
    capability:
      properties:
        provider_type:
          $ref: ./common/core.yml#/components/schemas/provider
          description: Provider type
        package_version:
          $ref: ./common/core.yml#/components/schemas/text
          description: Package version
        package_url:
          $ref: ./common/core.yml#/components/schemas/text
          description: Package url
        provider_name:
          $ref: ./common/core.yml#/components/schemas/text
          description: Provider name
        provider_description:
          type: array
          items:
            $ref: ./common/core.yml#/components/schemas/text
        extensions:
          $ref: "#/components/schemas/capabilityExtension"
        capabilities:
          $ref: "#/components/schemas/capabilityGeneralCapability"
        restrictedAccess:
          $ref: "#/components/schemas/restrictedAccess"
    capabilityNavigatorExtension:
      properties:
        title:
          $ref: ./common/core.yml#/components/schemas/text
          description: Title
        on_click_callback:
          type: integer
        href:
          properties:
            uri:
              type: string
              format: uri
            external:
              type: boolean
        component:
          $ref: ./common/core.yml#/components/schemas/text
          description: Component
        icon:
          $ref: ./common/core.yml#/components/schemas/text
          description: Icon link
        link:
          $ref: ./common/core.yml#/components/schemas/text
          description: link
          format: uri
        show:
          type: boolean
          description: Controls whether to show the extension or not
        type:
          $ref: ./common/core.yml#/components/schemas/text
          description: Extension type
        allowedTo:
          type: object
    capabilityUserPrefExtension:
      properties:
        component:
          $ref: ./common/core.yml#/components/schemas/text
          description: Component
        type:
          $ref: ./common/core.yml#/components/schemas/text
          description: Extension type
    capabilityGraphQLExtension:
      properties:
        component:
          $ref: ./common/core.yml#/components/schemas/text
          description: Component
        path:
          $ref: ./common/core.yml#/components/schemas/text
          description: Path
        type:
          $ref: ./common/core.yml#/components/schemas/text
          description: Extension type
    capabilitiesAccountExtension:
      properties:
        title:
          $ref: ./common/core.yml#/components/schemas/text
          description: Title
        on_click_callback:
          type: integer
        href:
          properties:
            uri:
              type: string
              format: uri
            external:
              type: boolean
        component:
          $ref: ./common/core.yml#/components/schemas/text
          description: Component
        link:
          $ref: ./common/core.yml#/components/schemas/text
          description: link
          format: uri
        show:
          type: boolean
          description: Controls whether to show the extension or not
        type:
          $ref: ./common/core.yml#/components/schemas/text
          description: Extension type
    restrictedAccess:
      properties:
        isMeshplayUIRestricted:
          type: boolean
        allowedComponents:
          properties:
            navigator:
              type: object
            header:
              type: object
    capabilityGeneralCapability:
      properties:
        feature:
          $ref: ./common/core.yml#/components/schemas/text
          description: Feature name
        endpoint:
          $ref: ./common/core.yml#/components/schemas/endpoint
    capabilityExtension:
      properties:
        navigator:
          type: array
          items:
            $ref: "#/components/schemas/capabilityNavigatorExtension"
        user_prefs:
          type: array
          items:
            $ref: "#/components/schemas/capabilityUserPrefExtension"
        graphql:
          type: array
          items:
            $ref: "#/components/schemas/capabilityGraphQLExtension"
        account:
          type: array
          items:
            $ref: "#/components/schemas/capabilitiesAccountExtension"

paths:
  /capabilities:
    get:
      deprecated: true
      tags:
        - capabilities
      operationId: GetCapabilitie
      summary: Capabilities
      description: Get available capabilities for logged in user
      parameters:
        - $ref: ./common/parameters.yml#/components/parameters/os
        - $ref: ./common/parameters.yml#/components/parameters/playground
      responses:
        "200":
          description: capabilities
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/capability"
        "500":
          $ref: ./common/responses.yml#/500
      security: []

  /{meshplay-version}/capabilities:
    get:
      tags:
        - capabilities
      operationId: GetCapabilities
      summary: Capabilities By server version
      description: Get available capabilities for logged in user
      parameters:
        - $ref: ./common/parameters.yml#/components/parameters/meshplayVersion
        - $ref: ./common/parameters.yml#/components/parameters/os
        - $ref: ./common/parameters.yml#/components/parameters/playground
      responses:
        "200":
          description: capabilities
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/capability"
        "500":
          $ref: ./common/responses.yml#/500
      security: []
